body{
  background-color: #c4c0bf;
}

p{
  font-size: 12px;
}

#container{
  margin: auto;
  width: 960px;
  height: auto;


}

#topborder{
  background: url(../images/background_light.jpg) repeat-x;
  height:470px;
  position:absolute;
  top: 0px;
  left: 0px;
  width:100%;
  z-index: -1;

}
header{
width: 960px;
height: 125px;
}

header img{
 margin: 20px 0 20px 10px;
}

#featured{
  width:958px;
  background: url(../images/background_block_slice.jpg) repeat-x;
  background-color:#fff;
  border: 1px solid #fff;
}

.featured{
  width:490px;
  height:325px;
  float:left;
  padding:10px;
  padding-left:15px;

}

.featured article h1{
   font-size: 25px;
   color: #000;
}
.featured h3 {
  font-size: 10px;

}
.featured p{
  font-size:12px;
}
#featured a{
   color: blue;
   font-size: 10px;
}

#featured article{
  border: 0px;
}
.ecard{
float: left;
border: 2px solid #ccc;
margin-top:20px;

a{
   color: blue;
   font-size: 12px;
}

}
.clearfix{
  clear:both;
}

#main-body{
  float:left;
  width:650px;
  height:auto;
  padding-left:10px;
  padding-right:10px;
  background: url(../images/background_block_slice.jpg);
  background-color:#fff;

}

article{
width:650px;
height:auto;
padding-top:10px;
padding-bottom:20px;
border-bottom: 1px solid #ccc;
}

article h3{
 font-size: 10px;
}
article p{
  font-size:12px;
}

#sidebar{
float:left;
 width: 265px;
 background-color: rgba(105,105,105, .2);
 height:625px;
 padding:0px 10px 20px 15px;
}

footer{
  height:40px;
  background-color: #000;
  width:942px;
  text-align: right;
  color:#fff;
  padding:4px;
  padding-right:15px;
}